*{
    margin: 0;
}
body{
    font-family: 'Mukta', sans-serif;
    background-color: rgb(223, 243, 251);
}
:root {
    --primary:rgb(80, 80, 249);
}
hr{
    color: grey;
    opacity: 40%;
    margin: 30px 0px;
}


/* top player section start */
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
section{
    background-color: white;
    width: 900px;
    padding: 20px;
    margin-top: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 15px;
}
.player img{
    width: 60px;
}
.player{
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-player h3{
    font-size: 20px;
    color:var(--primary);
    margin-bottom: 10px;
    margin-top: 0px;
}
/* blog part start */
.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.blog-container img{
    max-width: 240px;
    height: auto;
}
span{
    color: grey;   
}
.blog-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.blog-container h2{
    font-size: 1rem;
}

 /* section two course start */

.class img{
    max-width:100%;
 }
section h3{
    font-size: 20px;
    color:var(--primary);
    margin-bottom: 10px;
    margin-top: 0px;
 }
.deatils{
    display: flex;
    justify-content: space-between;
}
.course{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.section{
    margin-bottom: 50px !important;
}
.class{
    padding: 10px;
    box-shadow: 0px 0px 2px rgb(220, 217, 217);
    border-radius: 5px;
}
.start_fill{
    color: rgb(153, 153, 6);
}
.start_no-fill{
    color: grey;
}
.time{
    color: rgb(198, 92, 92);
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.class .fa-regular{
    font-size: 12px;
}




/* Responsive design for tablate screen */

@media only screen and (max-width:1000px) {
    section{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .top-player{
        padding: 10px;
    }
    .blog{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .blog-container img{
        width: 150px;
    }
    .course{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .course{
        padding: 10px;
    }
    .section h3{
        padding-left: 10px;
    }

    
}

/* Responsive desgin for mobile screen */

@media only screen and (max-width:550px) {
    section{
        width: 100%;
    }
    .course{
        padding: 10px;
    }
    .section h3{
        padding-left: 10px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-player{
        padding: 10px;
    }
    .blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-container img{
        width: 150px;
    }
    .course{
        grid-template-columns: repeat(1, 1fr);
    }

    
}